<div class="container text-center">
    <h1>About us.</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community 
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Quaerat, reiciendis, sed, vitae debitis iusto
    nam in assumenda nihil tenetur voluptatem autem perferendis necessitatibus
    qui quas consequatur quibusdam adipisci quia blanditiis.</p>
</div>